.text-center {
    text-align: center;
}
.text-worldcup{
    color:#035fe8;
}
.child {
    position:absolute; 
    width: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.parents{
    position: relative;
}

.margin {
    margin-top: 50px;
    margin-bottom: 50px;
}

body {
    background-image: url("/public/images/idealworldcup_img/background_pattern.png");
}

.logo {
    width: 200px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}
.round{
    border-radius:0.25em;
    margin-bottom:-10px;
    margin-top:50px;
    padding-left:10px;
}
.text-round{
    color:#cccccc;
}