.main-text-center {
    text-align: center;
}

.container-margin { 
    margin-top: 300px;
    margin-bottom: 300px;
}

/* a */

.a-signup {
    color: gray;
}

.a-signup:link {
    text-decoration: none;
}
  
.a-signup:visited {
    text-decoration: none;
}