<div class="container margin">
    <img class="logo" src="/public/images/idealworldcup_img/professor101_logo.PNG" alt="professor101_logo">
    <h1 class="text-center text-worldcup">당신의 <strong>교수님</strong>께 투표하세요!</h1>

    <a class="btn btn-primary" href="/ideal_worldcup/result" role="button">
        Result
    </a>
    <br><br>
    <!-- worldcup images -->
    <!-- 임시로 하나만 만들었음 담에 수정할 것. -->
    <div class="parents row">
        <!-- 왼쪽 선택지 -->
        <div class="parents img-fit col-6" style="padding: 0%;">
            <div class="professor-box" id="leftProfessor" onclick="clickProfessor(this.id)"> 
                <img id="leftImage" class="professor-image" src="">
                <h4 id="leftText" class="text-child"></h1>
            </div>
        </div>
        
        <!-- 오른쪽 선택지 -->
        <div class="parents img-fit col-6" style="padding: 0%;">
            <div class="professor-box" id="rightProfessor" onclick="clickProfessor(this.id)"> 
                <img id="rightImage" class="professor-image" src="" >
                <h4 id="rightText" class="text-child" ></h1>
            </div>
        </div>

        <!-- vs image -->
        <img class="img-child" src="/public/images/idealworldcup_img/vs.png" alt="versus">
        
        <!-- round -->
        <div class="container-fluid round round-child">
            <h1 id="round-title" class="text-center text-round"></h1>
        </div> 
    </div>
</div>