<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signin failure</title>
    <%- include('../layout/stylesheet');  %> 
    <link rel="stylesheet" href="/public/css/member/signSF.css">
</head>
<body>
    <!-- nav file -->
    <%- include('../layout/nav');  %> 

    <div class="container container-margin">
        <div class="main-text-center">
            <h2>로그인 안내</h2>
            <br>
            <h4>로그인에 실패하였습니다.</h4>
        </div> 
    </div>
    
    <!-- footer file -->
    <%- include('../layout/footer');  %>

    <!-- script file -->
    <%- include('../layout/script');  %>
</body>
</html>