<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./signup.css">
</head>
<body>
    <!-- header file -->
    <%- include ("./header.ejs") %>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="text-center">
                <h1>Create your account</h1>
            </div> 
            <br><br>
            <form action="/member/signup" method="post">
                <div class="form-group">
                    <label for="userId">ID</label>
                    <input type="text" class="form-control" id="userId" placeholder="ID">
                </div>
                <div class="form-group">
                    <label for="userPassword">Password</label>
                    <input type="password" class="form-control" id="Password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="userNickName">Nickname</label>
                    <input type="text" class="form-control" id="userNickName" placeholder="Nickname">
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>