<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign out</title>
    <%- include('../layout/stylesheet');  %> 
    <link rel="stylesheet" href="/public/css/member/signout.css">
</head>
<body>
    <!-- nav file -->
    <%- include('../layout/nav');  %>


    <div class="container container-margin">
        <div class="text-center">
            <h2>로그아웃 안내</h2>
            <br>
            <h4>로그아웃되었습니다.</h4>
        </div> 
    </div>
    
    
    <script type="text/javascript">
        function Logout() {
            // kakao login인 경우 kakaoLogout 실행
            // local인 경우 그냥 logout 실행
        }
        function kakaoLogout() {
            if (!Kakao.Auth.getAccessToken()) {
                alert('Not logged in.')
                return
            }
            Kakao.Auth.logout(function() {
                alert('logout ok\naccess token -> ' + Kakao.Auth.getAccessToken())
            })
        }
    </script>

    <!-- footer file -->
    <%- include('../layout/footer');  %>

    <!-- script file -->
    <%- include('../layout/script');  %>
</body>
</html>