<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup success</title>
    <%- include('../layout/stylesheet');  %> 
    <link rel="stylesheet" href="/public/css/member/signSF.css">
</head>
<body>
    <!-- nav file -->
    <%- include('../layout/nav');  %> 

    <div class="container container-margin">
        <div class="main-text-center">
            <h2>회원가입 안내</h2>
            <br>
            <h4>회원가입이 성공적으로 이루어졌습니다.</h4>
            <br>
            <p class="main-text-center "><a class="a-signup" href="/member/signin">로그인 하시겠습니까?</a></p>
        </div> 
    </div>

    <!-- footer file -->
    <%- include('../layout/footer');  %>

    <!-- script file -->
    <%- include('../layout/script');  %>
</body>
</html>