<link rel="stylesheet" type="text/css" href="../../public/css/layout/banner.css" />
<link rel="stylesheet" href="/public/css/ideal_worldcup/worldcup.css">
<link rel="stylesheet" type="text/css" href="/public/css/board/list.css">
<link rel="stylesheet" type="text/css" href="/public/css/board/list.css">
<main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <p class="lead text-muted"><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
        <p>
          <a href="/ideal_worldcup" class="btn btn-ss-medium-blue my-2">시작하기</a>
          <a href="#" class="btn btn-secondary my-2">홈으로</a>
        </p>
      </div>
    </section>
    
    <%# include('../ideal_worldcup/worldcup_container');  %>  
    <%# include('../board/list_container');  %>  
  
  </main>