<link rel="stylesheet" type="text/css" href="../public/css/layout/footer.css" />

<footer class="page-footer ss-footer font-small indigo">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-4 mb-4">숭실듀스</h5>  
                <ul class="list-unstyled"> 
                    <li><a href="#!">이상형 월드컵</a></li>
                    <li><a href="/board">게시판</a></li>
                </ul>  
            </div>
        <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-4 mb-4">학교사이트</h5>  
                <ul class="list-unstyled"> 
                    <li><a href="https://ssu.ac.kr/">숭실대학교</a></li>
                    <li><a href="https://saint.ssu.ac.kr/">유세인트</a></li>
                    <li><a href="http://myclass.ssu.ac.kr/">스마트캠퍼스</a></li>
                </ul>  
            </div>
        <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto">
                <h5 class="font-weight-bold text-uppercase mt-4 mb-4">IT학과사이트</h5>  
                <ul class="list-unstyled">                     
                    <li><a href="http://smartsw.ssu.ac.kr/">스마트시스템소프트웨어</a></li>
                    <li><a href="http://infocom.ssu.ac.kr/rb/">전자정보공학</a></li>
                </ul>  
            </div>
        <hr class="clearfix w-100 d-md-none">              
        </div>  
    </div>
    
    <div class="footer-copyright text-center py-3"><p><a class="footer-font">서울시 동작구 상도로 369 숭실대학교 TEL 02-820-0114<br>© 2020 Copyright:
      <a href="https://ssu.ac.kr/"> Soongsil.ac.kr</a></a>
    </div>
  
  </footer>