<link rel="stylesheet" type="text/css" href="../public/css/layout/nav.css" />

<nav class="navbar navbar-expand-lg ss-nav sticky-top">
    <ul class="nav nav-pills ss-nav-font" role="tablist" style="width:100%">        
        <ul class="navbar-nav">            
            <li><img src="/public/images/layout_img/soongsil-logo.png"><a class ="navbar-brand" href="/" style="margin-left:5px">SSDUCE</a></li>
            <li class="nav-item"><a class="nav-link" href="/board">게시판</a></li>
            <li class="nav-item"><a class="nav-link" href="/ideal_worldcup">이상형월드컵</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown-nav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    학교사이트
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown-nav">
                    <a class="dropdown-item" href="https://ssu.ac.kr/">SSU</a>
                    <a class="dropdown-item" href="https://saint.ssu.ac.kr/">USaint</a>
                    <a class="dropdown-item" href="http://myclass.ssu.ac.kr/">MyClass</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown-nav2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    IT학과사이트
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown-nav2">
                    <a class="dropdown-item" href="http://smartsw.ssu.ac.kr/">스마트시스템소프트웨어학과</a>
                    <a class="dropdown-item" href="http://infocom.ssu.ac.kr/rb/">전자정보공학부</a>                
                </div>
            </li>
        </ul>
    </ul>
        <% if (!member) { %>
            <a href="/member/signin" class = "btn btn-primary">login</a>                    
        <% } else { %>
            <a href="/member/signout" class = "btn btn-primary">signout</a>
        <% } %> 
    <div class="container col-3">            
    </div>
</nav>
